<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen to this music</title>
</head>
<body>

    <audio src="http://localhost:5400/music/67afc66e1e10d1742e14713a" controls autoplay></audio>
    
</body>
</html>